---
layout: page
title: Martin Trapp
subtitle: in between worlds
---

    <p>I'm a PhD student working on Sum-Product Networks and Bayesian nonparametrics with applications to cognitive sciences and natural language processing. My association is with the <a href="http://ofai.at">Austrian Research Institute for Artificial Intelligence (OFAI)</a> in Vienna and the <a href="http://www.tugraz.at">Graz University of Technology</a>. I'm supervised by the head of the OFAI Prof. em. Robert Trappl and by Assoc. Prof. Franz Pernkopf from the Laboratory of Signal Processing and Speech Communication, Graz University of Technology.
</br>
Previously, I have been working as a researcher in medical and biological image processing at the <a href="http://vrvis.at">VRVis Research Center for Virtual Reality and Visualisation</a> and have conducted my Masters thesis at the <a href="https://www.tuwien.ac.at">Vienna University of Technology</a> on Fast and Accurate Automatic Localization of Anatomical Landmarks on Medical Images.
	</p>
    
    
    <div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>
	
	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}  
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>
  
    <div class="post-entry">
      {{ post.content | truncatewords: 50 | strip_html}}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">Read More</a>
    </div>
  
   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'inbetweenworlds';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
